@font-face {
    font-family: BarlowM;
    src: url('./fonts/BarlowSemiCondensed-Medium.ttf');
}
@font-face {
    font-family: BarlowR;
    src: url('./fonts/BarlowSemiCondensed-Regular_0.ttf');
}
@font-face {
    font-family: TypoldM;
    src: url('./fonts/Typold-Condensed-Medium.ttf');
}
@font-face {
    font-family: TypoldR;
    src: url('./fonts/Typold-Condensed-Regular.ttf');
}
@font-face {
    font-family: TypoldNC;
    src: url('./fonts/Typold-Regular.ttf');
}

.myColors {
    background-color: rgb(186, 174, 125);
    background-color: rgb(57, 53, 54);
}

body {
    font-family: TypoldNC;
    background-color: white;
    margin: 0;
    padding: 0;
}
.topNav {
    background-color: rgb(186, 174, 125);
    height: 50px;
}
.botNav {
    background-color: rgb(57, 53, 54);
    height: 105px;
}
.textColor {
    color: rgb(57, 53, 54);
    font-family: TypoldM, sans-serif;
    font-size: 11px;
    padding-right: 30px;
    padding-top: 17px;
}
.botColor {
    color: white;
    font-family: TypoldR, sans-serif;
    font-size: 14px;
    padding-left: 30px;
}
.navFlex {
    padding-top: 37px;
}
.noDec {
    text-decoration: none;
}
.margins {
    margin-left: 22%;
    margin-right: 22%;
}
.socIcon {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    padding-top: 12px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
.goldFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.brownFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoC21 {
    height: 50px;
    padding-top: 30px;
}
.leadershipFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}
.rowFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkCont {
    display: flex;
    flex-direction: row;
}
.leadLink {
    color: rgb(186, 174, 125);
    font-family: BarlowR;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.leadLink:hover {
    color: rgba(186, 174, 125, 0.795);
}
.leaderText {
    color: rgb(57, 53, 54);
    font-size: 35px;
    font-family: TypoldM;
    padding-top: 20px;
}
.bigName {
    text-align: center;
    font-size: 30px;
    color: rgb(186, 174, 125);
    margin-bottom: 30px;
    margin-top: 30px;
}
.bigNameSecond {
    text-align: center;
    font-size: 30px;
    color: rgb(186, 174, 125);
    margin-bottom: 30px;
    margin-top: 20px;
}
.faceCont {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content: center;
}
.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: TypoldNC;
    width: 200px;
    padding-bottom: 50px;
}
.profImg {
    height: 180px;
}
.pmImg {
    height: 140px;
}
.rBent {
    height: 200px;
}
.fTaz {
    height: 160px;
}
.imgCont {
    height: 130px;
    width: 130px;
    overflow: hidden;
    border-radius: 170px;
}
.profName {
    font-size: 15px;
}
.profTitle {
    font-size: 10px;
}
.profNum {
    font-size: 14px;
    font-family: BarlowM;
    font-weight: 300;
}
.profEmail {
    font-size: 12px;
    font-family: BarlowR;
    color: rgb(57, 53, 54);
}

@media only screen and (max-width: 1200px) {
    .margins {
        margin-left: 1%;
        margin-right: 1%;
    }
    .faceCont {
        margin-left: 1%;
        margin-right: 1%;
    }
    .social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 1000px) {
    .topNav {
        height: 100%;
    }
    .goldFlex {
        justify-content: center;
        text-align: center;
    }
    .navFlex {
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
    .botColor {
        padding-left: 15px;
    }
    .botNav {
        height: 100%;;
    }
    .brownFlex {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .evIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media only screen and (max-width: 500px) {
    .Profile {
        width: 150px;
    }
}